{% extends 'base.html' %}
{% load humanize %}
{% block content %}

<div class="card-footer ">
    {{post.comments.count}}
    {% for comment in post.comments.all %}
    <p>
        {% if comment.author == post.author %}
        <span class="font-weight-bold">
            Author &middot;
        </span>
        {{comment.comment}}
        {{comment.timestamp}}
        {% else %}
        <span class="font-weight-bold">
            {{comment.author}} &middot;
        </span>
        {{comment.comment}}
        {{comment.timestamp}}
        {% endif %}
    </p>
    {% empty %}
    <p>No comment yets</p>
    {% endfor %} 
</div>
<hr>
<h3>Add a comments</h3>
<form  method="post">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit">Submit</button>
</form>

<div class="blog-single gray-bg">
    <div class="container">
        <div class="row align-items-start">
            <div class="col-lg-8 m-15px-tb">
                <article class="article">
                    <div class="article-img">
                        {% if post.picture %}
                        <img src="{{post.picture.url}}" title="" alt="">
                        {% endif %}
                    </div>
                    <div class="article-title">
                        <h6><a href="#">{{post.category}}</a></h6>
                        <h2>{{post.title}}</h2>
                        <div class="media">
                            <div class="avatar">
                                <img src="{{post.author.profile.avatar.url}}" title="" alt="">
                            </div>
                            <div class="media-body">
                                <label>{{post.author}}</label>
                                <span>{{post.date.date}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="article-content">
                        <p>{{post.body}}</p>
                    </div>
                    <div class="page-item">
                        <p> Back to <a href="{% url 'home' %}">Home</a>.</p>
                        {% if post.author == request.user %}
                        <a href="{% url 'edit' post.id %}">Edit your Blog Post</a> 
                        <a href="{% url 'delete' post.id %}">Delete your Blog Post</a>
                        {% endif %}
                        {% if request.user in post.likes.all %}
                        <form action="{% url 'like_post' post.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Unlike</button>
                        </form>
                        {% else %}
                        <form action="{% url 'like_post' post.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-success">Like</button>
                        </form>
                        {% endif %}

                        


                    </div>
                    <div class="nav tag-cloud">
                        <a href="">{{post.category}}</a>
                    </div>
                </article>
            </div>
            
            <div class="col-lg-4 m-15px-tb blog-aside">
                <!-- Author -->
                <div class="widget widget-author">
                    <div class="widget-title">
                        <h3>Author</h3>
                    </div>
                    <div class="widget-body">
                        <div class="media align-items-center">
                            <div class="avatar">
                                <img src="{{post.author.profile.avatar.url}}" title="" alt="">
                            </div>
                            <div class="media-body">
                                <h6>Hello, I'm {{post.author.profile.username}}</h6>
                            </div>
                        </div>
                        <p>{{post.author.profile.bio}}</p>
                    </div>
                    
                </div>
                <!-- End Author -->
                <!-- Trending Post -->
                <div class="widget widget-post">
                    <div class="widget-title">
                        <h3>Trending Now</h3>
                    </div>
                    <div class="widget-body">

                    </div>
                </div>
                <!-- End Trending Post -->
                <!-- Latest Post -->
                <div class="widget widget-latest-post">
                    <div class="widget-title">
                        <h3>Latest Post</h3>
                    </div>
                    <div class="widget-body">
                        <div class="latest-post-aside media">
                            <div class="lpa-left media-body">
                                <div class="lpa-title">
                                    <h5><a href="#">Prevent 75% of visitors from google analytics</a></h5>
                                </div>
                                <div class="lpa-meta">
                                    <a class="name" href="#">
                                        Rachel Roth
                                    </a>
                                    <a class="date" href="#">
                                        26 FEB 2020
                                    </a>
                                </div>
                            </div>
                            <div class="lpa-right">
                                <a href="#">
                                    <img src="https://www.bootdey.com/image/400x200/FFB6C1/000000" title="" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="latest-post-aside media">
                            <div class="lpa-left media-body">
                                <div class="lpa-title">
                                    <h5><a href="#">Prevent 75% of visitors from google analytics</a></h5>
                                </div>
                                <div class="lpa-meta">
                                    <a class="name" href="#">
                                        Rachel Roth
                                    </a>
                                    <a class="date" href="#">
                                        26 FEB 2020
                                    </a>
                                </div>
                            </div>
                            <div class="lpa-right">
                                <a href="#">
                                    <img src="https://www.bootdey.com/image/400x200/FFB6C1/000000" title="" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="latest-post-aside media">
                            <div class="lpa-left media-body">
                                <div class="lpa-title">
                                    <h5><a href="#">Prevent 75% of visitors from google analytics</a></h5>
                                </div>
                                <div class="lpa-meta">
                                    <a class="name" href="#">
                                        Rachel Roth
                                    </a>
                                    <a class="date" href="#">
                                        26 FEB 2020
                                    </a>
                                </div>
                            </div>
                            <div class="lpa-right">
                                <a href="#">
                                    <img src="https://www.bootdey.com/image/400x200/FFB6C1/000000" title="" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Latest Post -->
                <!-- widget Tags -->
                <div class="widget widget-tags">
                    <div class="widget-title">
                        <h3>Latest Tags</h3>
                    </div>
                    <div class="widget-body">
                        <div class="nav tag-cloud">
                            {% for cat in category_list %}
                            <a href="#">{{cat.name}}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <!-- End widget Tags -->
            </div>
        </div>
    </div>
</div>

{% endblock %}