{% extends 'base.html' %}
{% load humanize %}
{% load crispy_forms_tags %}
{% block content %}




<div class="blog-single gray-bg">
    <div class="container">
        <div class="row align-items-start">
            <div class="col-lg-8 m-15px-tb">
                <article class="article">
                    <div class="article-img">
                        {% if post.picture %}
                        <img src="{{post.picture.url}}" title="" alt="">
                        {% endif %}
                    </div>
                    <div class="article-title">
                        <h6><a href="#">{{post.category}}</a></h6>
                        <h2>{{post.title}}</h2>
                        <div class="media">
                            <div class="avatar">
                                <img src="{{post.author.profile.avatar.url}}" title="" alt="">
                            </div>
                            <div class="media-body">
                                <label>{{post.author}}</label>
                                <span>{{post.date.date}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="article-content">
                        <p>{{post.body|safe}}</p>
                    </div>
                    <div class="page-item">
                        <p> Back to <a class="badge badge-light" href="{% url 'home' %}">Home</a>.</p>
                        {% if post.author == request.user %}
                        <div>
                        <a class="badge badge-secondary" href="{% url 'edit' post.id %}">Edit your Blog Post</a> 
                        <a class="badge badge-danger" href="{% url 'delete' post.id %}">Delete your Blog Post</a>
                        </div>
                        {% endif %}
                        <br>
                        {% if request.user in post.likes.all %}
                        <form action="{% url 'like_post' post.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="badge badge-danger">Unlike</button>
                        </form>
                        {% else %}
                        <form action="{% url 'like_post' post.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="badge badge-success">Like</button>
                        </form>
                        {% endif %}
                        <h2>Leave a comment!</h2>
                        {% include "comment_form.html" %}

                        {% if comments %}
                        {% with comments.count as total_comments %}
                            <strong class="text-secondary">{{ total_comments }} comment{{ total_comments|pluralize }}</strong>
                        {% endwith %}
                        <hr>
                        <ul>
                            {% for comment in comments %}
                            <li>
                                <div>
                                    <span>
                                        {% if comment.author == post.author %}
                                        <strong class="text-info">{{comment.author}} <span class="badge badge-secondary">Author</span></strong>
                                        {% else %}
                                        <strong class="text-info">{{comment.author}}</strong>
                                        {% endif %}
                                        <small class="text-muted">{{comment.timestamp}}</small>
                                    </span>
                                    <p>
                                        {{comment.comment|safe}}
                                    </p>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                        {% else %}
                        <strong class="text-secondary">No comments yet...</strong>
                        {% endif %}
                    </div>
                    <div class="nav tag-cloud">
                       
                    </div>
                </article>
            </div>
            
            <div class="col-lg-4 m-15px-tb blog-aside">
                <!-- Author -->
                <div class="widget widget-author">
                    <div class="widget-title">
                        <h3>Author</h3>
                    </div>
                    <div class="widget-body">
                        <div class="media align-items-center">
                            <div class="avatar">
                                <img src="{{post.author.profile.avatar.url}}" title="" alt="">
                            </div>
                            <div class="media-body">
                                <h6>Hello, I'm {{post.author.profile.username}}</h6>
                            </div>
                        </div>
                        <p>{{post.author.profile.bio}}</p>
                    </div>
                    
                </div>
                <!-- End Author -->
                <!-- Latest Post -->
                <div class="widget widget-latest-post">
                    <div class="widget-title">
                        <h3>Similar posts</h3>
                        {% for post in similar_posts %}
                    </div>
                    <div class="widget-body">
                            <div >
                                 <h5><a href="{{post.get_absolute_url}}">{{post.title}}</a></h5>
                            </div>
                            <div >
                                <a class="name" href="#">
                                    {{post.author}}
                                 </a>
                                 <a class="date" href="#">
                                    {{post.date}}
                                </a>
                            </div>
                            {% empty %}
                            There are no similar posts yet
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <!-- End Latest Post -->
                <!-- widget Tags -->
               
                <!-- End widget Tags -->
            </div>
        </div>
    </div>
</div>

{% endblock %}