{% extends 'base.html' %}
{% load humanize %}

{% block title %} Blog post {% endblock %}

{% block content %}
<br>
{% if tag %}
<h2>Posts tagged with {{ tag.name }}</h2>
{% endif %}

<div id="main-content" class="blog-page">
    <div class="container">
        <div class="row clearfix">
            <div class="col-lg-8 col-md-12 left-box">
                {% for post in post_list %}
                <div class="card single_post">
                    <div class="body">
                        <div class="img-post">
                            {% if post.picture %}
                            <img class="d-block img-fluid" src="{{post.picture.url}}" alt="First slide">
                            {% endif %}
                        </div>
                        <h3><a href="{% url 'details' post.pk %}">{{post.title | linebreaks |truncatechars:200}}</a>
                        <small class="text-muted"> By {{post.author}} | {{post.date|naturaltime }} </small>
                        <br>
                        <br>
                        <p>{{post.body|safe|truncatechars:200 | linebreaks }} <a  href="{% url 'details' post.pk %}" class="badge badge-light">Continue Reading</a></p>
                        <p class="tags">
                            {% for tag in post.tags.all %}
                            <a class="badge badge-info" href="{% url 'post_list_by_tag' tag.slug %}">
                                {{tag.name}}
                            </a>
                            {% if not forloop.last %} {% endif %}
                            {% endfor %}
                        </p>
                    </div>
                    <div class="footer">

                        <ul class="stats">
                            
                            {% if request.user in post.likes.all %}
                            <li><a href="{% url 'like_post' post.id %}" class="fa fa-heart" style="color: red;">{{post.likes.count}}</a></li>
                            {% else %}
                            <li><a href="{% url 'like_post' post.id %}" class="fa fa-heart">{{post.likes.count}}</a></li>
                            {% endif %}
                            <li><a href="{% url 'like_post' post.id %}" class="fa fa-comment">{{post.comments.count}}</a></li>
                            
                        </ul>
                    </div>
                </div>
                {% endfor %}
                {% include "pagination.html" with page=post_list %}
             
            </div> 
            <div class="col-lg-4 col-md-12 right-box">
                <div class="card">
                    <div class="header">
                        <h2>Categories Clouds</h2>
                    </div>
                    <div class="body widget">
                        <ul class="list-unstyled categories-clouds m-b-0">
                            {% for tag in tags %}
                           
                            <li><a href="">{{tag}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                   


{% endblock %}
