[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
whitenoise = "*"
django-allauth = "*"
environs = {extras = ["django"], version = "*"}
django-environ = "*"
pillow = "*"
psycopg2 = "*"
humanize = "*"
django-taggit = "*"

[dev-packages]

[requires]
python_version = "3.11"
